h1 {
    color: red;
}
.img-custom {
    width: 100px;
    margin-top: -5px;
    border-radius: 15px;
}
.img-user {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}